
/* reset margins */
body {
    margin: 0vh 0vh 0vh 0vh;
}

/*
img.desktop {
    display: none;
    
}
*/

/* Turn off mobile elements */

nav.img.mobile {
    display: none;
}

nav.mobile {
    display: none;
}

img.mobile.arrow {
    display: none;
    
}

/* Turn on Laptop elements */

ul#over.desktop.nav {
/*ul {*/
    position: absolute;
    display: inline-flex; 
/*    vertical-align: middle;*/
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.5vmin;    
/*    margin: 0 0 0 0vw;*/
    margin-top: calc(0.22 * 12.5vh);
    right: 12.5vw;
/*    padding-left: 40vw;*/
/*    background: black;*/
/*    position: relative;*/
    
    float: right;
    list-style: none;
    list-style-type: none;
/*    border: 1px solid red;*/
    
/*    margin-left: 12.5vw;*/
/*    padding: 0em;*/
    overflow: hidden;

/*    line-height: 5vh;*/
/*    margin-top: 27vh;*/
/*    padding: 0vh 0vh 0vh 0vh;   */
    /* padding-right: 2vw; */
    
/*    background-color: #333333;*/
}

/*
ul#over.desktop.nav {
    text-decoration: none !Important;
}
*/
li a {
    padding-left: 2vw;
    text-decoration: none;
    border: none;
    color: rgba(245, 245, 245, 1.0);
    text-align: center;   
}

logo {
    height: 7vh;
    margin-left: 12.5vw;
}

logo img {
    position: absolute;
    height: 7vmin;
    height: 7vmax;
    top: 2.75vh;
/*    left: 5vh;*/
}

.sourceSanspro {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 6vmin;
    font-weight: bold;
/*    line-height: 5vh;*/
/*    margin-top: 27vh;*/
    padding: 27vh 0vh 0vh 0vh;
}

.droidSerif {
    font-family: 'Droid Serif', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 3.5vmin;
    line-height: 3.5vh;
}


img.desktop.arrow {
    display: inline-block;   
}

.arrow {
    width: 3vw;
    margin-top: 12vh;
    cursor: pointer;
}

header {
/*
    position: relative;
    background-color: rgba(172, 211, 115, 1.0);
*/
    height: 12.5vh;
}

main {
    position: relative;
/*    background-color: rgba(154, 189, 103, 1.0);*/
    background-color: red;
    
    height: 87.5vh;
    background-image: url("../media/4siluetBGDesktop.png");
    background-size: 100%;
    background-repeat: no-repeat;
/*    background-position: bottom;*/
/*    text-align: center;*/
/*    color: rgba(245, 245, 245, 1.0);*/
}
