/*****************/
/* reset margins */
body {margin: 0vh;}

/****************************/
/* Turn off mobile elements */
nav.img.mobile   {display: none;}
nav.mobile       {display: none;}
img.mobile.arrow {display: none;}

/***************************/
/* Turn on Laptop elements */
header {
    height: 12.5vh;
}

logo {
    height: 7vh;
    margin-left: 7vw;
}

logo img {
    position: absolute;
/*    position: relative;*/
/*    height: 3vmin;*/
    height: 7vmax;
    top: 2.75vh;
}

ul#over.desktop.nav {
    position: absolute;
    display: inline-flex; 
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.5vmin;    
    margin-top: calc(0.22 * 12.5vh);
    right: 12.5vw;
    padding-left: 0;  
    float: right;
    list-style: none;
    list-style-type: none;
    border: 1px solid red;
    overflow: hidden;
}

li a {
    padding-left: 2vw;
    text-decoration: none;
    border: none;
    color: rgba(245, 245, 245, 1.0);
    text-align: center;   
}

main {
    position: relative;
/*    background-color: rgba(154, 189, 103, 1.0);*/
    background-color: red; 
    height: 87.5vh;
    background-image: url("../media/4siluetBGDesktop.png");
/*    background-size: 100%;*/
}

.sourceSanspro {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 6vmin;
    font-weight: bold;
    padding: 27vh 0vh 0vh 0vh;
}

.droidSerif {
    font-family: 'Droid Serif', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 3.5vmin;
    line-height: 3.5vh;
}


img.desktop.arrow {
    display: inline-block;   
}

.arrow {
    width: 3vw;
    margin-top: 12vh;
    cursor: pointer;
}


