* {box-sizing: border-box;}
/** {border: 1px solid red;}*/

/**********************************/
/* Hide laptop & Desktop elements */
ul.desktop.nav {display: none;}
img.desktop.arrow  {display: none;}
* {
/*    background-color: aquamarine;*/
}
/*****************/
/* reset margins */
body {margin: 0vh;}
/*****************/
/* set page size on all pages, but landing */
.page2 {
    height: 100vh;   
}
.page3 {
/*    height: 150vh;*/
    min-height: 128vh;
    max-height: 128vh;
}
.page4 {height: 100vh; background-color: rgba(172, 210, 116, 1.0)}
.page5 {height: 100vh; background-color: #e27373;}
.page6 {height: 100vh;}   
.page7 {height: 100vh; background-color: #e27373;} 
.page8 {height: 100vh;}   


/* Page 1 Landing page */
header {
    position: relative;
    background-color: rgba(172, 211, 115, 1.0);
    height: 10vh;
}

logo {
    height: 7vh;
}

logo img {
    position: absolute;
    height: 7vmin;
    top: 1.5vh;
    left: 5vw;
}

nav.mobile {
    position: relative;
    background-color: rgba(137, 168, 92, 1.0);
    display: inline-block;
    height: 10vh;
    width: 10vh;
    float: right;
}

nav img {
    position: absolute;
    height: 4vh;
    width: 4vh;
    top: 3vh;
    left: 3vh;
    cursor: crosshair;
}

/*main {*/
.landingPage {
    position: relative;
    background-color: rgba(154, 189, 103, 1.0);
    height: 100vh;
    background-image: none;
    background-image: url("../media/4siluetBG.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    color: rgba(245, 245, 245, 1.0);
}

.sourceSanspro {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 5vmin;
    line-height: 5vh;
    margin-top: 0vh;
    padding: 25vh 0vh 0vh 0vh;
}

.droidSerif {
    font-family: 'Droid Serif', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 3.5vmin;
    line-height: 3.5vh;
}

.arrow {
    height: 3vh;
    margin-top: 5vh;
    cursor: crosshair;
}


/* Page 2 Who We Are */
div.page2  img.iphone{
/*    border: 1px dotted green;*/
    display: block;
    margin: auto;
/*    width: 21.25%;*/
    height: 55vmin;
    max-height: 55vmin;
    min-height: 35vmin;
    /* Image in layout was off-center, a little */
    margin-left: calc((100vw/2) - 8vw);
}

/* div containing page content */
div#page2main{
/*    border: 1px dotted green;*/
    margin-right: 45px;
    margin-left: 45px;
}

div.page2  img.man{
    position: relative;
/*    border: 1px dotted green;*/
    margin: auto;
    height: 9.5vmin;
}

/* Text to right of man image */
div.page2 div span {
    position: relative;
    font-family: sans-serif;
    font-size: 1.32em;
    font-size: 4.55vmin;
    line-height: 6.5vh;
    top: -19px;
    padding-left: 2vw;
}

/* Text under man image */
div.page2 div p {
    font-family: "Roboto", sans-serif;
/*    border: 1px dotted red;   */
    font-size: 2.25vh;
}
/*Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" */
button.greenborder.greentext.italic {
    font-size: 1.1em;
    border: 2px solid rgb(172,210,116);
    color: rgb(172,210,116);
    font-family: serif;
    text-align: center;
    font-style: italic;
    background-color: white;
    padding: .66em 1.22em .66em 1.22em;
    margin: .0em;
    display: inline-block;
}



/* Page 3 Our Services */
div.page3 img.mobile.video{
    height: 52vh;
    width: 100%;
    clip: rect(0px,60px,0px,60px);
}

div.page3 h1 span.greentext{
    color: rgb(172,210,116);
}

div.page3 h1, div.page3 h1 span.greentext{
    font-family: Roboto, sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 3vh;
}

div.page3 h1 span.greentext{
    font-size: 1.0em;
}
div.page3 p{
    text-align: center;
    font-family: serif;
    font-weight: 400;
    text-align: center;
    font-size: 2.35vh;
}

div.page3 img.mobile.sep{
    display: block;
    margin: auto;
    width: 19vw;
}

div.page3 div#services{
/*    background-color: aliceblue;*/
    margin: 0 5vw;
}

div.page3 div div#services div img.mobile{
    height: 12vh;
    float:left;
    margin-right: 8vw;
/*    margin-bottom: 2vh;*/
}

div.page3 div div#services div img.mobile.shrink{
    width: 10vw;
    height: 9vh;
    margin-right: 7vw;
}

div.page3 div div#services div span.sans-serif.greenText{
    position: relative;
    
    color: rgb(172,210,116);
    font-family: sans-serif;
    font-weight: 600;
    font-size: 2.4vh;
    padding-bottom: 5vh;
}

div.page3 div div#services div span.sans-serif.greenText span.blackText{
/*    background-color: chartreuse;*/
    position: relative;
    top: -1.5vh;
    color: black;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 2.2vh;  
}

div.page3 div div#services div, div.page3 div div#services {
/*    border: 3px dotted black;*/
    margin: 5px 44px;
}

div.page3 div button.greenborder.greentext.italic{
    display: block;
    font-family: sans-serif;
    font-size: 1.15em;
    margin: auto;
}

/* *******    Page 4    ******** */

div.page4 h1, div.page4 p {
    position: relative;
    display: block;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 3.0vh;
    color: rgba(241, 243, 239, 1.0);
    text-align: center;
}

div.page4 div.ceoContainer  div {
/*    background-color: aliceblue;*/
}
div.page4 p.heading {
    font-size: 2.4vh;
}

div.page4 h1 {
    padding-top: 9vh;
}

div.page4 p.heading {
    margin-top: 2vh;
}

div.page4 img.mobile.sep {
    position: relative;
    top:  1vh;
    width: 20vw;
    display: block;
    margin: auto;
}

div.page4 img.mobile.larrow, div.page4 img.mobile.rarrow {
    display: inline;
    height: 8.5vh;
    width: 5vw;    
    cursor: grab;
    z-index: +110;
}

#ceoBoxTwoTone {
    position: relative;
    margin-left: 28.5vw;
    margin-right: 27.5vw;
    top: -8vh;
    min-height: 33vh;
    min-width: 25%;
    background-color: rgba(238,246,248, 1.0);
    border-radius: 1vw;
    z-index: +100;
}

#ceoBoxDarkTone {
    position: relative;
/*    display:; */
    margin-left: 28.5vw;
    margin-right: 27.5vw;
    top: -13.5vh;
    height: 12vw;
    min-height: 1vh;
    min-width: 3vw;
    background-color: rgba(217,229,229, 1.0); /* rgba(236,234,236, 1.0);*/
    border-radius: 0vw 0vw 1vw 1vw;
    z-index: +101;    
}

div.page4 img.mobile.ceoPic {
    position: relative;
    display: inline;
    height: 20vmin;
    max-height: 20vmax;
    width: 20vmin;
    left: calc(50vw - 10vmin); 
    z-index: +120;  
}
    
div.page4 img.mobile.larrow {
    position: relative;
    top: -16vh;
    left: -12vw;
}

div.page4 img.mobile.rarrow {
    position: relative;
    top: -16vh;
    left: 42vw;
}

div.page4 div p#nameCeo {
/*    border: dotted 5px black ;*/
    position: relative;
    top: -23vh;
    color: rgb(172,210,116);
    font-family: sans-serif;
    font-weight: 600;
    font-size: 2.5vh;
    z-index: +150;
}

div.page4 div.ceoContainer div p#nameCeo span.italic.serif {
    position: relative;
    top: -0vh;
    left: 0vw;
    font-family: serif;
    font-weight: 100;
    font-size: 2.5vh;
    font-style: italic;
    color: black;
    z-index: +160;
/*    border: dotted 5px white ;*/
}

div.page4 span img.mobile {    
    display: inline;
    position: relative;
    height: 5vmin;
    max-height: 8vmin;
    margin-left: 1vw;
    top: -17vh;
/*    left: 40.25vw;*/
    left: calc(0.9vw);
}
.ceoContainer {border: 2pc solid black; z-index: +555 }

div.page4 div {
    border: none;
/*    background-color: rgb(156, 188, 104);*/
}

div.page4 div, div.page4 div button  {
    color:rgba(241, 243, 239, 1.0); 
}

#actionFooter{
    position: relative;
    margin: 0;
    top: -0vh;
    min-height: 15vh;
    background-color: rgba(156,188,104, 1.0);
    z-index: +170;   
}

div.page4 div span {
/*    background-color: rgba(0,0,0,0.0);*/
    position: relative;
    top: -3vh;
    left: 10vw;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 2.4vh;
}

div.page4 div button {
    background-color: rgba(0,0,0,0.0);
    position: relative;
    top: 4vh;
    left: 28vw;    
    border: 1px solid aliceblue;
    color: aliceblue;
    font-family: serif;
    text-align: center;
    font-style: italic;
    font-size: 2vh;
    padding: .66em 1.22em .66em 1.22em;
    margin: .0em;
}
#actionFooter span {
    position: relative;
    top: 4vh;
    left: 17vw;   
}

div.page8 {
    width: 50vw;
}
