        html {
            font-size: 1vw;
        }
        
        body {
            overflow: hidden;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: rgba(2, 122, 2, 1.0);
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-size: 1.0em;
        }
        
        h1 {
            text-align: center;
            font-size: 2.5em;
        }
        
        #inputTag1 {
            padding-left: 1%;
        }
        
        input {
            border-radius: 15px;
        }
        
        #calcMe {
            width: 8vw;
            height: 6vh;
            font-size: 1.0em;
        }
        
        input {
            height: 5vmin;
            font-size: 1.0em;
        }
        
        #calculatorContainer {
            display: inline-block;

            width: 100vmin;
            box-sizing: border-box;
            padding: 4vmin;
            background-color: rgba(2, 255, 2, 1.0);
            position: absolute;
            top: 50%;
            border-radius: 15px;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        
        #calculatorDisplay {
            position: relative;
            box-sizing: border-box;
            width: 100%;
            min-height: 2em;
            background-color: lightgray;
            margin-bottom: 3vmin;
            line-height: 2.0em;
            padding: 1vmin;
            font-size: 2.0em;
            border-radius: 15px;
            text-align: right;
            font-family: 'Roboto', sans-serif;
            overflow: hidden;
        }
        
        #calcText {
            position: absolute;
            right: 0;
            margin-right: 2vw;
            white-space: nowrap;
        }
        
        button#clear:hover,
        #calcMe:hover {
            background-color: rgba(244, 244, 244, 1.0);
            position: relative;
            font-size: 1.15em;
        }
        
        button#clear,
        #calcMe {
            width: 5vw;
            height: 6vh;
            border: 1px solid black;
            border-radius: 15px;
            font-size: 1.0em;
            vertical-align: top;
            text-align: center;
            line-height: 4vh;
            font-weight: 400;
            font-family: 'Roboto', sans-serif;
            margin-bottom: 0.75vh;
        }
        
        #clear:hover {
            background-color: #aaaaaa;
            position: relative;
        }