.hdr {
    width: 100%;
    height: 20vmin;
    background-color: black;
}

.homeLeft {
    position: relative;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    z-index: +15;
    left: 50%;
    transform: translate(-50%);
}

img.homeLeft {
    position: absolute;
    background-color: color: rgba(242, 232, 218, 1.0);
    top: 0vmin;
    width: 40vmin;
    height: 40vmin;
    z-index: +91;
}

h1 {
    display: inline-block;
    position: absolute;
    font-family: 'Architects Daughter', cursive;
    /*    text-align: center;*/
    color: rgba(0, 0, 0, 1.0);
    color: rgba(255, 210, 147, 1.0); 
    color: rgba(242, 232, 218, 1.0);
    font-size: 9vmin;
    line-height: 9vh;
    top: 13.5vmin;
    left: 5vmin;
/*    z-index: +1111;*/
    /*    transform: translate(+65%);*/
}

h1.hdr {
    display: inline-block;
    position: absolute;
    /*    transform: translate(+0%,-75%);*/
    /*    z-index: -22;*/
    /*    border: 1px solid black;*/
    background-color: rgba(0, 0, 0, 1.0);
    margin: 0;
    padding: 0;
}

h2,
h3 {
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    z-index: +1111;
}

h2 {
    color: rgba(242, 232, 218, 1.0);    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(147, 255, 166 0.69);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, rgba(147, 255, 166, 0.69), rgba(81, 219, 76, 0.69));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(147, 255, 166, 0.69), rgba(81, 219, 76, 0.69));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(147, 255, 166, 0.69), rgba(81, 219, 76, 0.69));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(147, 255, 166, 0.69), rgba(81, 219, 76, 0.01));
    /* Standard syntax */
    z-index: +10;
}


/*

dude {
    color: rgba(0, 45, 16, 0.69);
    color: rgba(0, 68, 24, 0.69);
    color: gba(0, 45, 16, 0.69);
}
*/

nav li a {
    display: block;
    float: left;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
    color: aliceblue;
    transition: all 1.0s ease-in-out;
}

.picBox {
    /*    font-family: 'Indie Flower', cursive;*/
    border: 3px solid black;
    background-color: rgba(211, 211, 211, 1.0);
    width: 95vmin;
    border-radius: 35px;
    margin: 1vmin;
}

.itemPic {
    display: inline;
    margin: 1.5vmin;
    border: 2px solid black;
    float: left;
    width: 57vmin;
}

.itemTxt {
    font-family: sans-serif;
    display: inline;
    float: right;
    width: 32vmin;
    margin: 0.5vmin .5vmin 1.5vmin 0;
}

.horizLine {
    display: inline-block;
    width: 28%;
    margin-left: 3%;
}

.price {
    /*    transform: translate(+50%,+50%);*/
    text-align: center;
}

button:hover {
    background-color: white !important;
    height: 6vmin;
    width: 6vmin;
    border: 2px solid red;
    transition: all 1.5s ease-in-out;
}

button {
    color: rgba(0, 79, 26, 0.9);
    left: 50%;
    margin-left: 13%;
    margin-bottom: 2%;
    width: 12vmin !important;
    height: 6vmin!important;
    border-radius: 25%;
    background-color: rgba(216, 15, 15, 1.0);
}

#container {
/*
    background-color: rgba(111, 111, 111, 0.9);
    background-color: rgba(19, 56, 10, 1.0);
*/
    background-image: url("../media/cherry-wood-panels-background-header.jpg");
    border: 1px solid black;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    border-radius: 35px;
}

img {
    border-radius: 35px;
}

#ball {
    background-image: url(http://www.animatedimages.org/data/media/389/animated-coin-image-0011.gif);
    background-size: contain;
    background-position: center;
    background-color: rgba(0, 79, 26, 0.9);
    width: 15vmin;
    height: 15vmin;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*            transition: all 1.5s ease-in-out;*/
    z-index: +15;
}

#ball:hover {
    background-color: blue !important;
    height: 20vmin;
    width: 20vmin;
}

span {
    display: inline;
    /*            width: 15vmin;*/
}

#textBox {
    height: 75vmin;
}