        body {
            width: 100%;
            background-color: rgba(0, 0, 0, 1.0);
            margin: 0;
        }
        
        .hdr {
            width: 100%;
            height: 25vmin;
            background-color: rgba(0, 0, 0, 1.0);
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: row wrap;
            justify-content: flex-end;
        }
        
nav.hdr li {
/*    font-size: 1.15em ;*/
    font-size: 2.75vmin; 
    line-height: 2.75vmin;    
}

        #footer,
        footer {
            margin-top: 7.5vmin;
        }
        
        h1 {
            display: inline-block;
            position: absolute;
            font-family: 'Architects Daughter', cursive;
            /*            color: rgba(0, 0, 0, 1.0);*/
            /*            color: rgba(255, 210, 147, 1.0);*/
            color: rgba(242, 232, 218, 1.0);
            font-size: 9vmin;
            text-shadow: 2px 2px rgba(112, 127, 116, 1.0);
            line-height: 9vmin;
            top: 13.5vmin;
            left: 5vmin;
            /*    z-index: +1111;*/
        }
        
        h1.hdr {
            display: inline-block;
            position: relative;
            background-color: rgba(0, 0, 0, 1.0);
            margin: 0;
            padding: 0;
        }
        
        h2,
        h3 {
            text-align: center;
            text-shadow: 2px 2px rgba(112, 127, 116, 1.0);
            font-family: 'Architects Daughter', cursive;
            font-size: 1.15em;
            z-index: +1;
        }
        
        h3 {
            text-shadow: 2px 2px rgba(82, 97, 86, 1.0);
}
        
        h2 {
            color: rgba(242, 232, 218, 1.0);
        }
        
        .picBox {
            border: 3px solid black;
            /*            background-color: rgba(211, 211, 211, 1.0);*/
            background-color: rgba(112, 127, 116, 1.0);
            width: 85vmin;
            border-radius: 35px;
            margin: 1vmin;
        }
        
        .itemPic {
            display: inline;
            margin: 1.5vmin;
            border: 2px solid black;
            float: left;
            width: 53vmin;
        }
        
        .itemTxt {
            font-family: sans-serif;
            display: inline;
            float: right;
            width: 27vmin;
            margin: 0.5vmin .5vmin 1.5vmin 0;
        }
        
        .horizLine {
            display: inline-block;
            width: 28%;
            margin-left: 3%;
        }
        
        .price {
            text-align: center;
        }
        
        button:hover {
/*            background-color: white !important;*/
            color: white;
            border: 3px solid rgba(255, 255, 255, 1.0);
            font-size: 0.95em;
            height: 11vmin;
            width: 6.5vmin;
/*            border: 2px solid red;*/
            transition: all 1.5s ease-in-out;
        }
        
        button {
            font-family: 'Architects Daughter', cursive;
            font-size: 1.15em;
            color: lightgray;
/*            left: 50%;*/
            margin-left: 11%;
            margin-bottom: 2%;
            border: 1px solid black;
            width: 9vmin !important;
            height: 4.5vmin!important;
            border-radius: 25%;
            background-image: url("../media/cherry-wood-panels-background-header.jpg");
/*            transform: translate(-50%, -50%);*/
/*            left: 19.5vmin;*/
        }
        
        #container {
/*            perspective: 400vmin;*/
            position: relative;
            transition: all 0.5s ease;
            background-image: url("../media/cherry-wood-panels-background-header.jpg");
            border: 1px solid black;
            box-sizing: border-box;
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
            -webkit-flex-flow: wrap;
            justify-content: space-around;
            align-content: space-around;
            top: -19.75vmin;
            width: 100%;
        }
        
        img {
            border-radius: 35px;
        }
        
        #ball {
            background-image: url(http://www.animatedimages.org/data/media/389/animated-coin-image-0011.gif);
            background-size: contain;
            background-position: center;
            background-color: rgba(0, 79, 26, 0.9);
            width: 15vmin;
            height: 15vmin;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            /*            transition: all 1.5s ease-in-out;*/
            z-index: +15;
        }
        
        #ball:hover {
            background-color: blue !important;
            height: 20vmin;
            width: 20vmin;
        }
        
        span {
            display: inline;
        }
        
/*
        #textBox {
            height: 75vmin;
        }*/
