        body {
            width: 100%;
            background-color: rgba(0, 0, 0, 1.0);
            margin: 0;
        }
        
        .hdr {
            width: 100%;
            height: 25vmin;
            background-color: rgba(0, 0, 0, 1.0);
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: row wrap;
            justify-content: flex-end;
        }
        
        #footer,
        footer {
            margin-top: 7.5vmin;
        }
        
        h1 {
            display: inline-block;
            position: absolute;
            font-family: 'Architects Daughter', cursive;
            /*    text-align: center;*/
            color: rgba(0, 0, 0, 1.0);
            color: rgba(255, 210, 147, 1.0);
            color: rgba(242, 232, 218, 1.0);
            font-size: 9vmin;
            line-height: 9vh;
            top: 13.5vmin;
            left: 5vmin;
            /*    z-index: +1111;*/
        }
        
        h1.hdr {
            display: inline-block;
            position: absolute;
            /*    transform: translate(+0%,-75%);*/
            /*    z-index: -22;*/
            /*    border: 1px solid black;*/
            background-color: rgba(0, 0, 0, 1.0);
            margin: 0;
            padding: 0;
        }
        
        h2,
        h3 {
            text-align: center;
            font-family: 'Architects Daughter', cursive;
            z-index: +1111;
        }
        
        h2 {
            color: rgba(242, 232, 218, 1.0);
        }
        
        .picBox {
            border: 3px solid black;
            background-color: rgba(211, 211, 211, 1.0);
            width: 85vmin;
            border-radius: 35px;
            margin: 1vmin;
        }
        
        .itemPic {
            display: inline;
            margin: 1.5vmin;
            border: 2px solid black;
            float: left;
            width: 53vmin;
        }
        
        .itemTxt {
            font-family: sans-serif;
            display: inline;
            float: right;
            width: 27vmin;
            margin: 0.5vmin .5vmin 1.5vmin 0;
        }
        
        .horizLine {
            display: inline-block;
            width: 28%;
            margin-left: 3%;
        }
        
        .price {
            text-align: center;
        }
        
        button:hover {
            background-color: white !important;
            height: 6vmin;
            width: 6vmin;
            border: 2px solid red;
            transition: all 1.5s ease-in-out;
        }
        
        button {
            color: rgba(0, 79, 26, 0.9);
            left: 50%;
            margin-left: 13%;
            margin-bottom: 2%;
            width: 12vmin !important;
            height: 6vmin!important;
            border-radius: 25%;
            background-color: rgba(216, 15, 15, 1.0);
        }
        /*
        #container:hover {
            background-color: rgba(41, 41, 41, 1.0);
            border-radius: 25%;
        }
*/
        
/*
        #container {
            
        }
*/
        
        #container {
            perspective: 400vmin;
            position: relative;
            transition: all 0.5s ease;
            background-image: url("../media/cherry-wood-panels-background-header.jpg");
            border: 1px solid black;
            box-sizing: border-box;
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
            -webkit-flex-flow: wrap;
            justify-content: space-around;
            align-content: space-around;
            top: -19.75vmin;
            width: 100%;
        }
        
        img {
            border-radius: 35px;
        }
        
        #ball {
            background-image: url(http://www.animatedimages.org/data/media/389/animated-coin-image-0011.gif);
            background-size: contain;
            background-position: center;
            background-color: rgba(0, 79, 26, 0.9);
            width: 15vmin;
            height: 15vmin;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            /*            transition: all 1.5s ease-in-out;*/
            z-index: +15;
        }
        
        #ball:hover {
            background-color: blue !important;
            height: 20vmin;
            width: 20vmin;
        }
        
        span {
            display: inline;
        }
        
        #textBox {
            height: 75vmin;
        }