* {
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: rgba(0, 0, 0, 1.0);
    -webkit-transition: background-color 3sec ease-in-out;
    -moz-transition: background-color 3sec ease-in-out;
    -ms-transition: background-color 3sec ease-in-out;
    -o-transition: background-color 3sec ease-in-out;
    transition: background-color 3sec ease-in-out;
    margin: 0;
/*    height: auto;*/
}


#footer,
footer {
    margin-top: 7.5vmin;
}

h1 {
    display: inline-block;
    position: absolute;
    font-family: 'Architects Daughter', cursive;
    color: rgba(92, 244, 66, 1.0);
    font-size: 9vmin;
    text-shadow: 2px 2px rgba(112, 127, 116, 1.0);
    line-height: 9vmin;
    top: 13.5vmin;
    left: 5vmin;
}

h1.hdr {
    display: inline-block;
    position: relative;
    background-color: rgba(0, 0, 0, 1.0);
    margin: 0;
    padding: 0;
}

h2,
h3 {
    text-align: center;
    text-shadow: 2px 2px rgba(112, 127, 116, 1.0);
    font-family: 'Architects Daughter', cursive;
    font-size: 1.15em;
    z-index: +1;
}

h3 {
    text-shadow: 2px 2px rgba(82, 97, 86, 1.0);
}

h2 {
    color: rgba(155, 244, 66, 1.0);
}


/* ************* Start of item box ******* */

.picBox {
    border: 3px solid black;
    background-color: rgba(112, 127, 116, 1.0);
    -webkit-transition: background-color 3sec ease-in-out;
    -moz-transition: background-color 3sec ease-in-out;
    -ms-transition: background-color 3sec ease-in-out;
    -o-transition: background-color 3sec ease-in-out;
    transition: background-color 3sec ease-in-out;
    width: 85vmin;
    border-radius: 35px;
    margin: 1vmin;
    white-space: normal;
    overflow: auto;
}

.itemPic {
    display: inline;
    margin: 1.5vmin;
    border: 2px solid black;
    float: left;
    width: 53vmin;
}

.itemTxt {
    font-family: sans-serif;
    display: inline;
    float: right;
    width: 27vmin;
    margin: 0.5vmin .5vmin 1.5vmin 0;
}

.horizLine {
    display: inline-block;
    width: 28%;
    margin-left: 3%;
}

.price {
    text-align: center;
}

button:hover, input:hover {
    color: white !important;
    border: 3px solid rgba(255, 255, 255, 1.0) !important;
    font-size: 0.95em !important;
/*    height: 9.5vmin !important;*/
    width: 11.5vmin !important;
    transition: all 1.5s ease-in-out;
}

input, button {
    font-family: 'Architects Daughter', cursive !important;
    font-size: 1.15em !important;
    color: lightgray !important;
/*
    margin-left: 11%!important;
    margin-bottom: 2%!important;
*/
    border: 1px solid black !important;
    margin-bottom: 0.75vw;
    min-width: 9vmin !important;
    min-height: 4.5vmin !important;
    border-radius: 25% !important;
    background-image: url("../media/cherry-wood-panels-background-header.jpg");
}


/* ************* end of item box ******* */

#container {
    position: relative;
    transition: all 0.5s ease;
    background-image: url("../media/cherry-wood-panels-background-header.jpg");
    border: 1px solid black;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-flow: wrap;
    justify-content: space-around;
    align-content: space-around;
    top: -19.75vmin;
    width: 100%;
    overflow: auto;
}

img {
    border-radius: 35px;
}

#ball {
    background-image: url(http://www.animatedimages.org/data/media/389/animated-coin-image-0011.gif);
    background-size: contain;
    background-position: center;
    background-color: rgba(0, 79, 26, 0.9);
    min-width: 15vmin;
    min-height: 15vmin;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: +15;
}

#ball:hover {
    background-color: blue !important;
    min-height: 20vmin;
    min-width: 20vmin;
}

span {
    display: inline;
}

::-webkit-scrollbar {
    width: 19px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.05);
}